.nav-wrapper{
    background-color: #767b8a
}
.sidenav{
    background-color: #cad0e3
}
.brand-logo{
    font-family: monospace;
}
h5{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.m3{
    margin-left: 555px
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer{
    background-color: #767b8a
  }

  .grey-text, ul {
      text-align: center;
  }
  .centerText{
      text-align: center;
  }
  .homeTitle{
      font-family: monospace;
      font-weight: lighter;
      font-size: xx-large;
  }